@page "/fetchdata"
@inject HttpClient Http
@using Models.Pokemon

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (PokemonList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in PokemonList)
            {
                @*PokemonData data = await Http.GetFromJsonAsync<PokemonData>(pokemon.Url);*@


                <tr>
                    <td>@pokemon.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PokemonCollection Pokes;
    private Pokemon[] PokemonList;

    protected override async Task OnInitializedAsync()
    {
        Pokes = await Http.GetFromJsonAsync<PokemonCollection>("https://pokeapi.co/api/v2/pokemon?limit=2000");

        PokemonList = Pokes.Results;
    }

}
