@page "/fetchdata"
@inject HttpClient Http
@using Models.Pokemon
@using Web.UI.Dto.Request
@using Web.UI.PokeapiService.Repositories

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (PokemonList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in PokemonList)
            {
                @*PokemonData data = await Http.GetFromJsonAsync<PokemonData>(pokemon.Url);*@
                var request = new GetPokemonRequestDto()
                    {
                        PokemonId = pokemon.Url.Split()[pokemon.Url.Length - 2],
                        PokemonName = pokemon.Name.ToLower(),
                    };
                var data = PokeRepo.GetPokemonByName(request).Result;

                <tr>
                    <td>@data.Name</td>
                    <td>@data.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PokemonRepository PokeRepo = new PokemonRepository();

    
    private PokemonCollection Pokes;
    private Pokemon[] PokemonList;

    protected override async Task OnInitializedAsync()
    {
        Pokes = await Http.GetFromJsonAsync<PokemonCollection>("https://pokeapi.co/api/v2/pokemon?limit=2000");

        PokemonList = Pokes.Results;
    }

}
