@inherits PokemonBattle.Client.Components.Classes.Shared.PokemonSideTray
@using PokemonBattle.Models.V1.Pokemon;


<div class=@ImgContainerClass>
    <img name=@ImgName
         class=@ImgClass
         src=@ImgSrc
         alt=@ImgAlt 
         hidden=@(DisplaySideTray ? null : "hidden")/>
</div>

@code {
    

}
