@using PokemonBattle.Models.V1.Pokemon;


<div id=@SlotId
     class=@SlotClass
     @ref=@Slot
     @onclick=@(args => ClickPokemon(args))>
    <div class=@ImgContainerClass>
        <img name=@ImgName
             class=@ImgClass
             src=@ImgSrc
             alt=@ImgAlt />
    </div>
    <div class=@DisplayNameContainerClass>
        <p>@DisplayName</p>
    </div>
</div>

@code {

}
