@page "/teamselection"

<h3>TeamSelection</h3>

@if (isInitialized == false)
{
    <p>Loading...</p>
}
else
{
    <div class=@state.PokemonTeamContainerBaseClass>
        <PokemonTeamSlot SlotIndex=0 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotIndex=1 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotIndex=2 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotIndex=3 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotIndex=4 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotIndex=5 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonSideTray Pokemon=state.SelectedPokemon />
    </div>
    <PokemonSelectionForm PokemonTeamData=state.PokemonTeam PokemonList=state.Pokedex.PokemonList />
}


@code {

}
