@page "/teamselection"

<h3>TeamSelection</h3>

@if (isInitialized == false)
{
    <p>Loading...</p>
}
else
{
    <div class=@PokemonTeamContainerBaseClass>
        <PokemonTeamSlot SlotClass=@PokemonTeamSlotClasses[0] Pokemon=PokemonTeam[0] SlotIndex=0 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotClass=@PokemonTeamSlotClasses[1] Pokemon=PokemonTeam[1] SlotIndex=1 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotClass=@PokemonTeamSlotClasses[2] Pokemon=PokemonTeam[2] SlotIndex=2 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotClass=@PokemonTeamSlotClasses[3] Pokemon=PokemonTeam[3] SlotIndex=3 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotClass=@PokemonTeamSlotClasses[4] Pokemon=PokemonTeam[4] SlotIndex=4 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonTeamSlot SlotClass=@PokemonTeamSlotClasses[5] Pokemon=PokemonTeam[5] SlotIndex=5 ClickTeamSlot=ClickTeamSlot SelectPokemon=SelectPokemon />
        <PokemonSideTray Pokemon=SelectedPokemon />
    </div>
    <PokemonSelectionForm PokemonTeamData=PokemonTeam PokemonList=Pokedex.PokemonList />
}


@code {

}
