@page "/teamselection"
@inherits PokemonBattle.Client.Components.Classes.Shared.PokemonDataBase


<h3>TeamSelection</h3>

@if (isInitialized == false)
{
    <p>Loading...</p>
}
else
{
    <div class=@PokemonTeamContainerBaseClass>
        <PokemonTeamSlot Pokemon=PokemonTeam[0] SlotIndex=0 SelectPokemon=SelectPokemon />
        <PokemonTeamSlot Pokemon=PokemonTeam[1] SlotIndex=1 SelectPokemon=SelectPokemon />
        <PokemonTeamSlot Pokemon=PokemonTeam[2] SlotIndex=2 SelectPokemon=SelectPokemon />
        <PokemonTeamSlot Pokemon=PokemonTeam[3] SlotIndex=3 SelectPokemon=SelectPokemon />
        <PokemonTeamSlot Pokemon=PokemonTeam[4] SlotIndex=4 SelectPokemon=SelectPokemon />
        <PokemonTeamSlot Pokemon=PokemonTeam[5] SlotIndex=5 SelectPokemon=SelectPokemon />
    </div>
    <PokemonSideTray Pokemon=SelectedPokemon />
    <PokemonSelectionForm />
}


@code {

}
